.main-container {
    display: flex;
    padding-inline: 32px;
}

.product-container {
    display: flex;
    gap: 32px;
    padding-right: 32px;
}

.shopping-basket {
    text-align: center;
    width: 25vw;

    h3 {
        padding-top: 16px;
    }
}

@media (max-width: 850px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }
}